body{
    padding-bottom: 20px;
}
.box-input input{
    border: 2px solid #403F3F;
    width: 300px;
    color: #403F3F;
}

.box-input select{
    border: 2px solid #403F3F;
    width: 620px;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
}

.informacoes-superior h1{
    font-size: 32px;
    text-align: center;
}


.box-inferior-botoes{
    margin-top: 40px;
}


.box-inferior-botoes input{
  background-color: #8C52FF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
  font-size: 16px;
  cursor: pointer;
}



.box-inferior-botoes input:hover{
    background-color: #7f3fff;
}

.box-inferior-botoes input:disabled{
    cursor: not-allowed;
    background-color: #b996ff;

}


.box-inferior-botoes p{
    font-weight: 700;
}


@media (max-width:660px) {
    .box-input select{
        width: auto;
    }
}