body{
  background-image: url(../img-dinamico/fundo\ cadastro.svg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* header  */
header{
  margin-top: 20px;
  padding:0  50px;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.acesso-seguro{
  display: flex;
  color: black;
  width: 300px;
  gap: 10px;
}

.acesso-seguro p{
  margin: 0;
}

header .corporativo{
  background-color: #6E29FF;
  padding: 5px 15px;
  border-radius: 5px;
}

#logo{
  color: #727272;
  width: 500px;
  text-align: center;
  font-size: 24px;
  font-weight: bolder;
  font-family: serif;
}

.links-login-cliente{
  display: flex;
  justify-content: center;
  width: 30%;
  align-items: center;
  gap: 50px;
}

@media (max-width:1300px) {
  header{
    justify-content: center;
  }
  .acesso-seguro{
      display: none;
  }
}

/* fim header  */

/* formulario */

#pi{
  margin: 50px 0;
}

form{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.titulo{
  display: grid;
  place-items: center;
}
.titulo h1{
  color: #8C52FF;
  font-weight: bold;
}
.titulo p{
  text-align: center;
}

.input{
  display: flex;
  flex-direction: column;
}
.input label{
  padding: 0;
  font-weight: bold;
}
.input input{
  width: 400px;
  height: 40px;
  border: 2px solid #403F3F;
  outline: none;
  border-radius: 5px;
  padding: 0 10px; 
  background-color: transparent;
}

@media (max-width: 440px) {
  .input input{
    width: 90%;
  }
  .input{
    padding: 0 10px;
  }
}

form input[type ="submit"]{
  width: 300px;
  background-color: #8C52FF;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
}
form input[type ="submit"]:hover{
  background-color: #8c52ff80;
}

form input[type ="submit"]:disabled:hover{
  background-color: #8C52FF;
}

@media (max-width: 1000px) {
  form input[type= "submit"]{
    margin: 0 10%;
  }
}

#base{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#endereco{
  color: #8C52FF;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#endereco input{
  border: 2px solid #8C52FF;
}

.botoes-cadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* fim do formulario */

