@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* RESET */

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none !important;
}

/* FIM RESET */

/* HEADER  */
.header-corporativo{
  background-color: #8C52FF;
  display: flex;
  flex-direction: column;

}

.box-logo-barra-de-pesquisa-perfil{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px 30px;
  width: 100%;
}

.box-logo-barra-de-pesquisa-perfil img{
  width: 200px;
}

.box-logo-barra-de-pesquisa-perfil .box-pesquisar {
  background-color: #ffffff;
  padding: 10px;
  width: 700px;
  display: flex;
  border-radius: 5px;
}

.box-logo-barra-de-pesquisa-perfil .box-pesquisar input{
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.box-logo-barra-de-pesquisa-perfil .perfil-corpotativo{
  display: flex;
  background-color: #6E29FF;
  gap: 13px;
  padding: 7px 15px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.box-logo-barra-de-pesquisa-perfil .perfil-corpotativo img{
  width: 30px;
}

.box-logo-barra-de-pesquisa-perfil .perfil-corpotativo:hover{
  filter: grayscale(20);
}

.box-logo-barra-de-pesquisa-perfil .perfil-corpotativo p{
  transform: rotate(90deg);
}

.box-logo-barra-de-pesquisa-perfil .box-pesquisar button{
  padding: 1px 3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-corporativo .responsive{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  /* transition: all 0.5s; */

  position: absolute;
  top: 80px;
  right: 20px;
  flex-direction: column;
  background-color: #A175F7;
  width: fit-content;
  padding: 30px 10px;
  border-radius: 20px;
  gap: 10px 0px;
  opacity: 0; 
  z-index: -1;
}

.header-corporativo .responsive a{
  background-color: #AA80FF;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
  text-align: center;
  transition: all 0.5s;
  color: #ffffff;
}

.header-corporativo .responsive button{
  width: fit-content;
  padding: 10px 40px;
  text-align: center;
}

.header-corporativo nav a{
  margin: 0 20px;
}

.header-corporativo nav button{
  width: 90%;
  padding: 7px 0px;
  background-color: transparent;
  border: solid white;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.header-corporativo nav button:hover{
  color: black;
  border: solid black;
}

.header-corporativo nav a:hover{
  filter: grayscale(20);
}


@media (max-width: 880px) {

  .box-logo-barra-de-pesquisa-perfil{
    flex-wrap: wrap;
    justify-content: center;
  }

  .responsive{
    top: 220px !important;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .header-corporativo nav a{
    margin:0 5px ;
    background-color: #6E29FF;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    
  }

}



@media (max-width:500px) {
  .responsive{
    width: 90% !important;
  }
}


/* FIM HEADER */

