@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body{
    background-image: url(../img-dinamico/fundo-login.svg);
    background-repeat: no-repeat;

}

/* HEADER LOGIN  */

header{
    margin-top: 20px;
    padding:0  50px;
    background-color: transparent;
    

}

.acesso-seguro{
    display: flex;
    color: black;
    width: 300px;
    gap: 10px;
}

header .corporativo{
    background-color: #6E29FF;
    padding: 5px 15px;
    border-radius: 5px;
}

#logo{
    color: #727272;
    width: 500px;
    font-size: 24px;
    font-weight: bolder;
    font-family: serif;
}

.links-login-cliente{
    display: flex;
    justify-content: center;
    width: 30%;
    align-items: center;
    gap: 50px;
}

@media (max-width:1300px) {
    .acesso-seguro{
        display: none;
    }
}


/* HEADER LOGIN */


/*FORMULÁRIO DE LOGIN*/

.box-conteudo{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    padding: 30px 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    overflow: hidden;
    
}
.titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;
}

.titulos h1{
    color: #8C52FF;
    font-weight: bold;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.inputs input{
    width: 400px;
    height: 40px;
    border: 2px solid #403F3F;
    outline: none;
    border-radius: 5px;
    padding: 0 10px; 
   
}

.botoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.botoes input[type='submit']{
    text-transform: uppercase;
    padding: 7px 100px;
    cursor: pointer;
    border: none;
    background-color: #8C52FF;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 0.5s;

}

.botoes input[type='submit']:hover{
    background-color: #9a6bf8;
}

.botoes p{
    font-size: 16px;
    color: #FF2626;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (max-width:900px) {
    #logo{
        font-size: 18px;
    }

    header .corporativo{
        font-weight: 16px;
        padding: 5px 10px;
    }

    .inputs input{
        width: 300px;
    }

    .botoes input[type='submit']{
        padding: 7px 60px;
    }

}

.box-cadastro{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
    margin: 15px 0;

}

/*FORMULÁRIO DE LOGIN*/















