@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");


/* IMAGEM E TÍTULOS */
.informacoes-superior{
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.informacoes-superior h1{
    margin-top: 40px;
    font-weight: bold;
    color: #8C52FF;
}

.informacoes-superior p{
    font-size: 24px;
}
/* IMAGEM E TÍTULOS FIM */



.informacoes-pessoais{
    margin-top: 5em;
    display: flex;
    flex-flow:wrap column;
    align-items: center;    
}

.informacoes-pessoais h2{
    color: #8C52FF;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    
}

.box-maior-input{
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.box-input{
    display: flex;
    flex-flow: wrap column;
    margin-top: 40px;
    gap: 8px;
}

.box-input label{
    font-weight: 700;
}

.box-input label i{
    width: 100px;
}


.box-input input{
    height: 40px;
    width: 400px;
    padding: 0 10px;
    border-radius: 5px;
    border: 2px solid #403F3F;
}

.box-maior-input .box-botao{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box-maior-input .box-botao button{
    height: 40px;
    width: 300px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #8C52FF;
    color: #8C52FF;
    font-weight: bold;
    transition: all 0.5s;
}


.box-maior-input .box-botao button:hover{
    background-color: #8C52FF;
    color: #ffffff;
}

.box-inferior-botoes{
    margin: 5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    
}

.apagar-conta{
    border: 2px solid #F14848;
    color: #F14848;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 20px;
    transition: all 0.5s;
}

.apagar-conta:hover{
    background-color: #F14848;
    color: #ffffff;
}

@media (max-width:600px) {
    .box-input input{
        width: auto;
    }

    .box-maior-input .box-botao button{
        width: 150px;
    }
}

