@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* RESET */

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* PAGINA INICIAL DO CLIENTE  */
body{
    background-image: url(../img-dinamico/fundo.svg);
   
}

.titulo-agendamento{
    font-family: 'Poppins';
    margin-top: 2em;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.box-total{
    padding: 1em;
}

.box-opcoes select{
    width: 250px;
    padding: 5px  15px;
    border: 1px solid #828282;
    color: #828282;
    border-radius: 3px;
    outline: #747474;
}

/* PAGINA INICIAL DO CLIENTE  FIM */
