@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");


/* DIV COM TITULO E TABELA */
.box-total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 5em 1em;
}

.box-total h1 {
    font-size: 24px;
    text-align: center;
    font-family: 'poppins';
}

/* TABELA */
table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border-radius: 9px;
}

thead{
    position: sticky;
}

th {
    background-color: #a578ff;
    color: #ffffff;
    font-weight: 700;
    padding: 15px;
}

th:first-child {
    border-radius: 9px 0 0 0;
}

th:last-child {
    border-radius: 0 9px 0 0;
}

td {
    padding: 10px;
}

tr:nth-child(odd) {
    background-color: #f1efef;
}

/* TABELA  FIM */



/* BOTÃO CANCELAR NA TABELA DE MEUS AGENDAMENTOS */

.cancelar{
    padding: 3px 15px;
    border: 1px solid #F14848;
    color: #F14848;
    font-weight: 700;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.5s;
}

.cancelar:hover{
    background-color: #F14848;
    color: #ffffff;
}

/* BOTÃO CANCELAR NA TABELA DE MEUS AGENDAMENTOS FIM */




/* BOTÃO AGENDAR NA TABELA DE FAZER AGENDAMENTO  */

.agendar{
    border: 2px solid #26e17e;
    color: #26e17e;
    font-weight: 700;
    transition: all 0.5s;
}
.agendar:hover{
    background-color: #26e17e;
    color: #ffffff;
}

/* BOTÃO AGENDAR NA TABELA DE FAZER AGENDAMENTO  FIM*/

/* BOTÃO DE FINALIZAR NA TABELA DE CONTROLE DE AGENDAMENTO DOS FUNCIONÁRIOS */
.finalizar{
    border: 2px solid #5195FA;
    color: #5195FA;
    font-weight: 700;
    transition: all 0.5s;
}

.finalizar:hover{
    background-color: #5195FA;
    color: #ffffff;
}


/* BOTÃO DE FINALIZAR NA TABELA DE CONTROLE DE AGENDAMENTO DOS FUNCIONÁRIOS  FIM*/


/* GOOGLE E SAFARI */

.box-total::-webkit-scrollbar {
    width: 15px;
    height: 10px;
}

.box-total::-webkit-scrollbar-thumb {
    background-color: #ba97ff;
    border-radius: 100px;
}

.box-total::-webkit-scrollbar-track {
    background-color: #d1d1d1;
    border-radius: 50px;
}

.box-total::-webkit-scrollbar-thumb:hover {
    background-color: #9b69ff;
    border-radius: 100px;
}

/* GOOGLE E SAFARI  FIM */


@media (max-width:700px) {

    .box-total{
        overflow-y: auto;
        padding: 20px;
    }

    table{
        display: block;
        justify-content: start;
    }

}




