/* SESSÃO SUPERIOR DO BLOG */

.blog{
    /* margin-top: 60px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    padding: 50px;
}

.blog img{
    width: 300px;
}

.blog p{
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
}

.blog .divisoes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.blog .divisao-maior{
    width: 250px;
    height: 10px;
    background-color: #8C52FF;
    border-radius: 100px;
}


.blog .divisao-menor{
    width: 125px;
    height: 10px;
    background-color: #D9D9D9;
    border-radius: 100px;
}

/* SESSÃO SUPERIOR DO BLOG */


/* NOTICIAS BLOG */


.fundo-noticias{
    padding: 90px 0;
    background-color: #eae8e8;
    text-align: center;
    display: grid ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fundo-noticias h1{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    color: #8C52FF ;
    
}

.noticias{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 1350px;

}


.noticias a{
    color: black;
}


.card-noticia{
    background-color: #ffffff;
    width: 330px;
    padding: 40px 30px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: all 0.2s;

}

.img-noticia{
    height: 150px;
    border-radius: 9px;
    background-image: url('https://img.freepik.com/fotos-gratis/lindo-retrato-de-cachorro_23-2149218450.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.info h2{
    font-size: 20px;
}

.info img{
    width: 24px;
}

@media (max-width:1350px) {
    .noticias{
        width: auto;
    }
}


/* FIM NOTÍCIAS */



/* DEPOIMENTOS */

.depoimentos{
    padding: 90px;
}

.depoimentos h2{
    text-transform: uppercase;
    font-weight: 700;
    color: #8C52FF;
    margin-bottom: 50px;

}
.box-depoimentos{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.cliente{
    width: 400px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.2s;
}

.cliente h3{
    font-size: 24px;
    font-weight: 700;
}



.cliente:hover, .card-noticia:hover{
    transform: scale(1.01);
}




/* IMAGEM DAS NOTICIAS */

.n-1{
    background-image: url('https://royalpets.vteximg.com.br/arquivos/ids/177747/shiba-inu-320x250.jpg?v=637532286692930000');
}

.n-2{
    background-image: url('https://uploads.metropoles.com/wp-content/uploads/2021/03/29155402/gatos-1.jpg');
}

.n-3{
    background-image: url('https://veterinariadavinci.com.br/blog/wp-content/uploads/2017/07/como-escolher-um-veterinario-de-confianca-para-seu-bichinho.jpg');

}
