/* MAPA */

.mapa {
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.mapa .frame {
    width: 100%;
    height: fit-content;
    border-radius: 20px;
    overflow: hidden;
}

.mapa iframe {
    width: inherit;
    border-top: 10px solid #8D6ECA;
    border-bottom: 10px solid #8D6ECA;
}

.mapa h1 {
    font-weight: bold;
    text-align: center;
}

.mapa a {
    border: solid #8D6ECA;
    width: 90%;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: #8D6ECA;
    transition: all 0.5s;
}

.mapa a:hover {
    background-color: #8d6eca40;
}

/* FIM MAPA */

/* MENSAGEM */

.mensagem {
    background-color: #F4F4F4;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mensagem h2{
    text-align: center;
}

#nome{
    grid-area: nome;
}
#tell{
    grid-area: tell;
}
#email{
    grid-area: email;
}
#msg{
    grid-area: msg;
}

.mensagem form {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
    'nome tell'
    'email email'
    'msg msg';
    width: 60%;
    gap: 20px;
    margin: 10px 0;
}

.mensagem fieldset{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.mensagem fieldset label{
    padding: 0 0 2px 5px;
}

.mensagem fieldset input{
    border-radius: 5px;
    border: solid black;
    padding: 3px 10px;
}

.mensagem fieldset textarea{
    border-radius: 5px;
    border: solid black;
    padding: 3px 10px;

}

.mensagem input[type= "submit"]{
    background-color: #8D6ECA;
    color: white;
    border: none;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 5px;
    width: 200px;
    margin: 0 auto !important;
}

@media (max-width: 700px) {
    .mensagem form{
        grid-template-columns: auto;
        grid-template-areas: 
        'nome'
        'tell'
        'email'
        'msg';
    }

    .mensagem input[type= "submit"]{
        margin: 0 20%;
    }
}



/* FIM MENSAGEM */

/* CONTATO */

.contato{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.contato h2{
    font-weight: bold;
}

.contato div{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    width: max-content;
    width: 100%;
    margin: 20px;
}

.contato div button{
    padding: 10px 30px;
    border-radius: 5px;
    transition: all 0.5s;
}
.contato div button:hover{
    background-color: rgba(128, 128, 128, 0.329);
}

.contato div img{
    margin: 0px 10px;
}

/* FIM CONTATO */




/* MODIFICAÇÃO PARA DAR UM ESPAÇO ENTRE A BORDA E A PARTE DE DIGITAR */
input, textarea{
    padding: 0 9px;
}