@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* RESET */

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none !important;
}

/* FIM RESET */

/* CONTATOS HEADER */

.contatoHeader{
  background-color: #D7D7D7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0px 20px;
}

.contatoHeader p{
  font-size: 12px;
  margin: 0px;
}

.contatoHeader img{
  width: 300px;
}
@media (max-width: 300px) {
  .contatoHeader img{
    width: 100vw;
  }
}

/* FIM CONTATOS HEADER */

/* HEADER */


header .acesso button{
  color: white;
  background-color: transparent;
  border: solid;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

header .acesso button:hover{
  color: #2B0086;
}

header, footer{
  background-color: #8C52FF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

header .logo img, footer .logo img{
  width: 100px;
  object-fit: contain;
}

header .links, footer .links{
  display: flex;
  gap: 20px;
}

header .acesso, footer .acesso{
  display: flex;
  gap: 20px;
}

header a, footer a{
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}

header .links a:hover{
  color: #2B0086;
}
header .acesso a:hover{
  filter: grayscale(20);
}
footer a:hover{
  color: #2B0086;
}

header .acesso a, footer .acesso a{
  background-color: #6E29FF;
  padding: 5px 15px;
  border-radius: 5px;
}

footer{
  display: flex;
  flex-wrap: wrap;
}

footer .redes{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

footer p{
  color: white;
  margin-top: 20px;
  width: 90%;
  text-align: center;
}

/* FIM FOOTER */

.menu{
  width: 50px;
  cursor: pointer;
  display: none;
}

.fechaMenu{
  display: none;
}

.responsive{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

@media (max-width: 750px) {
  .responsive{
    flex-direction: column-reverse;
    gap: 40px;
    position: fixed;
    top: 0px;
    left: -100%;
    background-color: #9968fa;
    z-index: 2;
    padding: 50px 0;
    width: 100%;
    transition: all 0.5s;
  }
  .links{
    flex-direction: column;
    align-items: center;
  }
  .acesso{
    flex-direction: column;
  }

  header{
    justify-content: space-between;
  }
  .menu{
    display: block;
  }
  .fechaMenu{
    display: block;
    cursor: pointer;
    transition: all 0.5s;
  }
  .fechaMenu:hover{
    transform: scale(1.05);
  }

  footer{
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
}