@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* SESSÃO  SOBRE NÓS  */
body{
    font-family: 'Poppins', sans-serif;
}

.efeito-onda{
    width: 100%;
}

.sobre-nos{
    display: flex;
    align-items: center;
    justify-content: center;
}


.sobre-nos img{
    width: 300px;
}
.titulo{
    color: #8C52FF;
    font-weight: 700;
} 

@media (max-width:700px) {
    .sobre-nos{
        text-align: center;
    }

    .texto{
        margin-top: 20px;
    }
}

/* SESSÃO  SOBRE NÓS  */


/* COLABORADORES */

.fundo-colaboradores{
    margin-top: 100px;
    background-color: #EBEBEB;
    padding: 70px 0;
}


.titulos-box-colaboradores{
    text-align: center;
}

.sub-titulo{
    font-size: 20px;
    margin-top: 30px;
}


.box-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.box-cards .aluno{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px ;
    gap: 30px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}

.box-cards .aluno h3{
    font-size: 18px;
}

/* COLABORADORES */


/* FORMAS DE PAGAMENTO */

.pagamento{
    padding: 80px;
}

.botoes{
  display: grid;
  grid-template-columns: auto auto;
}
@media (max-width: 400px){
  .botoes{
    grid-template-columns: auto;
  
  }
  .botoes .btn-pagamento{
    border-radius: 20px 20px 0px 0px;
  }
  .botoes .btn-valores{
    border-radius: 0px;
  }
}

.btn-pagamento{
    border: none;
    border-radius: 20px 0px 0px 0px;
    padding: 10px 20px;
    background-color: #C852FF;
    color: #ffffff;
    outline: none;
}

.btn-valores{
    border-radius: 0px 20px 0px 0px;
    background-color:  #8C52FF;

}

.conteudo-pagamento{
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    padding: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 20px 20px;
    flex-wrap: wrap;
}

.item-pagamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.botoes{
    display: grid;
    grid-template-columns: auto auto;
}
@media (max-width: 500px) {
    .botoes{
        grid-template-columns: auto;
    }
    .botoes .btn-pagamento{
        border-radius: 20px 20px 0px 0px;
    }
    .botoes .btn-valores{
        border-radius: 0px;
    }
}



/* VALORES  */
.valores-empresa{
    padding: 100px 0;
}

.titulo-valores{
    color: #000000;
    font-weight: 700;
    margin-bottom: 50px;
}

.box-valores{
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    gap: 50px;

    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    width: 70%;
    margin: 0 auto;
}
@media (max-width: 1300px) {
  .box-valores{
    grid-template-columns: auto auto;
  }
}
@media (max-width: 900px) {
  .box-valores{
    grid-template-columns: auto;
  }
}
.item-valor{
    width: 350px;
}

@media (max-width: 450px) {
    .item-valor{
        width: 100%;
    }
}

.item-valor h4{
    font-weight: 700;
}