@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* SESSÃO  SOBRE NÓS  */
body{
    font-family: 'Poppins', sans-serif;
}

.efeito-onda{
    width: 100%;
}

.sobre-nos{
    display: flex;
    align-items: center;
}

.titulo{
    color: #8C52FF;
    font-weight: 700;
} 

@media (max-width:700px) {
    .sobre-nos{
        text-align: center;
    }

    .texto{
        margin-top: 20px;
    }
}

/* SESSÃO  SOBRE NÓS  */

/* COLABORADORES */

.fundo-colaboradores{
    margin-top: 100px;
    background-color: #EBEBEB;
    text-align: center;
    padding: 70px 0;
}


.sub-titulo{
    font-size: 20px;
    margin-top: 30px;
}






