body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#pai{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: gray;

}

